<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
		<false/>
		<key>com.schriftgestaltung.fontMasterID</key>
		<string>51BB9282-3B82-4DF1-A67A-294D3E37D73A</string>
		<key>com.schriftgestaltung.glyphOrder</key>
		<false/>
		<key>com.schriftgestaltung.useNiceNames</key>
		<false/>
		<key>com.schriftgestaltung.weightValue</key>
		<integer>400</integer>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0a1
1484553442.0 fontinfo.plist
1484553441.0 glyphs/A_.glif
1484553441.0 glyphs/A_.sc.glif
1484553441.0 glyphs/A_E_.glif
1484553441.0 glyphs/A_E_acute.glif
1484553441.0 glyphs/A_acute.glif
1484553441.0 glyphs/A_breve.glif
1484553441.0 glyphs/A_breveacute.glif
1484553441.0 glyphs/A_brevedotbelow.glif
1484553441.0 glyphs/A_brevegrave.glif
1484553441.0 glyphs/A_brevehookabove.glif
1484553441.0 glyphs/A_brevetilde.glif
1484553441.0 glyphs/A_circumflex.glif
1484553441.0 glyphs/A_circumflexacute.glif
1484553441.0 glyphs/A_circumflexdotbelow.glif
1484553441.0 glyphs/A_circumflexgrave.glif
1484553441.0 glyphs/A_circumflexhookabove.glif
1484553441.0 glyphs/A_circumflextilde.glif
1484553441.0 glyphs/A_dblgrave.glif
1484553441.0 glyphs/A_dieresis.glif
1484553441.0 glyphs/A_dotbelow.glif
1484553441.0 glyphs/A_grave.glif
1484553441.0 glyphs/A_hookabove.glif
1484553441.0 glyphs/A_invertedbreve.glif
1484553441.0 glyphs/A_macron.glif
1484553441.0 glyphs/A_ogonek.glif
1484553441.0 glyphs/A_ring.glif
1484553441.0 glyphs/A_ringacute.glif
1484553441.0 glyphs/A_tilde.glif
1484553441.0 glyphs/B_.glif
1484553441.0 glyphs/B_.sc.glif
1484553441.0 glyphs/C_.glif
1484553441.0 glyphs/C_.sc.glif
1484553441.0 glyphs/C_acute.glif
1484553441.0 glyphs/C_caron.glif
1484553441.0 glyphs/C_cedilla.glif
1484553441.0 glyphs/C_circumflex.glif
1484553441.0 glyphs/C_dotaccent.glif
1484553441.0 glyphs/D_.glif
1484553441.0 glyphs/D_.sc.glif
1484553441.0 glyphs/D_Z_caron.glif
1484553441.0 glyphs/D_caron.glif
1484553441.0 glyphs/D_croat.glif
1484553441.0 glyphs/D_dotbelow.glif
1484553441.0 glyphs/D_zcaron.glif
1484553441.0 glyphs/E_.glif
1484553441.0 glyphs/E_.sc.glif
1484553441.0 glyphs/E_acute.glif
1484553441.0 glyphs/E_breve.glif
1484553441.0 glyphs/E_caron.glif
1484553441.0 glyphs/E_circumflex.glif
1484553441.0 glyphs/E_circumflexacute.glif
1484553441.0 glyphs/E_circumflexdotbelow.glif
1484553441.0 glyphs/E_circumflexgrave.glif
1484553441.0 glyphs/E_circumflexhookabove.glif
1484553441.0 glyphs/E_circumflextilde.glif
1484553441.0 glyphs/E_dblgrave.glif
1484553441.0 glyphs/E_dieresis.glif
1484553441.0 glyphs/E_dotaccent.glif
1484553441.0 glyphs/E_dotbelow.glif
1484553441.0 glyphs/E_grave.glif
1484553441.0 glyphs/E_hookabove.glif
1484553441.0 glyphs/E_invertedbreve.glif
1484553441.0 glyphs/E_macron.glif
1484553441.0 glyphs/E_ng.glif
1484553441.0 glyphs/E_ogonek.glif
1484553441.0 glyphs/E_th.glif
1484553441.0 glyphs/E_tilde.glif
1484553441.0 glyphs/F_.glif
1484553441.0 glyphs/F_.sc.glif
1484553441.0 glyphs/G_.glif
1484553441.0 glyphs/G_.sc.glif
1484553441.0 glyphs/G_breve.glif
1484553441.0 glyphs/G_caron.glif
1484553441.0 glyphs/G_circumflex.glif
1484553441.0 glyphs/G_commaaccent.glif
1484553441.0 glyphs/G_dotaccent.glif
1484553441.0 glyphs/G_ermandbls.glif
1484553441.0 glyphs/H_.glif
1484553441.0 glyphs/H_.sc.glif
1484553441.0 glyphs/H_bar.glif
1484553441.0 glyphs/H_circumflex.glif
1484553441.0 glyphs/I_.glif
1484553441.0 glyphs/I_.sc.glif
1484553441.0 glyphs/I_acute.glif
1484553441.0 glyphs/I_breve.glif
1484553441.0 glyphs/I_circumflex.glif
1484553441.0 glyphs/I_dblgrave.glif
1484553441.0 glyphs/I_dieresis.glif
1484553441.0 glyphs/I_dotaccent.glif
1484553441.0 glyphs/I_dotbelow.glif
1484553441.0 glyphs/I_grave.glif
1484553441.0 glyphs/I_hookabove.glif
1484553441.0 glyphs/I_invertedbreve.glif
1484553441.0 glyphs/I_macron.glif
1484553441.0 glyphs/I_ogonek.glif
1484553441.0 glyphs/I_tilde.glif
1484553441.0 glyphs/J_.glif
1484553441.0 glyphs/J_.sc.glif
1484553441.0 glyphs/J_circumflex.glif
1484553441.0 glyphs/K_.glif
1484553441.0 glyphs/K_.sc.glif
1484553441.0 glyphs/K_commaaccent.glif
1484553441.0 glyphs/L_.glif
1484553441.0 glyphs/L_.sc.glif
1484553441.0 glyphs/L_J_.glif
1484553441.0 glyphs/L_acute.glif
1484553441.0 glyphs/L_caron.glif
1484553441.0 glyphs/L_commaaccent.glif
1484553441.0 glyphs/L_dot.glif
1484553441.0 glyphs/L_dotbelow.glif
1484553442.0 glyphs/L_j.glif
1484553442.0 glyphs/L_slash.glif
1484553442.0 glyphs/M_.glif
1484553442.0 glyphs/M_.sc.glif
1484553442.0 glyphs/M_dotbelow.glif
1484553442.0 glyphs/N_.glif
1484553442.0 glyphs/N_.sc.glif
1484553442.0 glyphs/N_J_.glif
1484553442.0 glyphs/N_acute.glif
1484553442.0 glyphs/N_caron.glif
1484553442.0 glyphs/N_commaaccent.glif
1484553442.0 glyphs/N_dotaccent.glif
1484553442.0 glyphs/N_dotbelow.glif
1484553442.0 glyphs/N_j.glif
1484553442.0 glyphs/N_tilde.glif
1484553442.0 glyphs/O_.glif
1484553442.0 glyphs/O_.sc.glif
1484553442.0 glyphs/O_E_.glif
1484553442.0 glyphs/O_acute.glif
1484553442.0 glyphs/O_breve.glif
1484553442.0 glyphs/O_circumflex.glif
1484553442.0 glyphs/O_circumflexacute.glif
1484553442.0 glyphs/O_circumflexdotbelow.glif
1484553442.0 glyphs/O_circumflexgrave.glif
1484553442.0 glyphs/O_circumflexhookabove.glif
1484553442.0 glyphs/O_circumflextilde.glif
1484553442.0 glyphs/O_dblgrave.glif
1484553442.0 glyphs/O_dieresis.glif
1484553442.0 glyphs/O_dieresismacron.glif
1484553442.0 glyphs/O_dotaccentmacron.glif
1484553442.0 glyphs/O_dotbelow.glif
1484553442.0 glyphs/O_grave.glif
1484553442.0 glyphs/O_hookabove.glif
1484553442.0 glyphs/O_horn.glif
1484553442.0 glyphs/O_hornacute.glif
1484553442.0 glyphs/O_horndotbelow.glif
1484553442.0 glyphs/O_horngrave.glif
1484553442.0 glyphs/O_hornhookabove.glif
1484553442.0 glyphs/O_horntilde.glif
1484553442.0 glyphs/O_hungarumlaut.glif
1484553442.0 glyphs/O_invertedbreve.glif
1484553442.0 glyphs/O_macron.glif
1484553442.0 glyphs/O_ogonek.glif
1484553442.0 glyphs/O_slash.glif
1484553442.0 glyphs/O_slashacute.glif
1484553442.0 glyphs/O_tilde.glif
1484553442.0 glyphs/O_tildemacron.glif
1484553442.0 glyphs/P_.glif
1484553442.0 glyphs/P_.sc.glif
1484553442.0 glyphs/Q_.glif
1484553442.0 glyphs/Q_.sc.glif
1484553442.0 glyphs/R_.glif
1484553442.0 glyphs/R_.sc.glif
1484553442.0 glyphs/R_acute.glif
1484553442.0 glyphs/R_caron.glif
1484553442.0 glyphs/R_commaaccent.glif
1484553442.0 glyphs/R_dblgrave.glif
1484553442.0 glyphs/R_invertedbreve.glif
1484553442.0 glyphs/S_.glif
1484553442.0 glyphs/S_.sc.glif
1484553442.0 glyphs/S_acute.glif
1484553442.0 glyphs/S_caron.glif
1484553442.0 glyphs/S_cedilla.glif
1484553442.0 glyphs/S_chwa.glif
1484553442.0 glyphs/S_circumflex.glif
1484553442.0 glyphs/S_commaaccent.glif
1484553442.0 glyphs/T_.glif
1484553442.0 glyphs/T_.sc.glif
1484553442.0 glyphs/T_bar.glif
1484553442.0 glyphs/T_caron.glif
1484553442.0 glyphs/T_cedilla.glif
1484553442.0 glyphs/T_commaaccent.glif
1484553442.0 glyphs/T_dotbelow.glif
1484553442.0 glyphs/T_horn.glif
1484553442.0 glyphs/U_.glif
1484553442.0 glyphs/U_.sc.glif
1484553442.0 glyphs/U_acute.glif
1484553442.0 glyphs/U_breve.glif
1484553442.0 glyphs/U_circumflex.glif
1484553442.0 glyphs/U_dblgrave.glif
1484553442.0 glyphs/U_dieresis.glif
1484553442.0 glyphs/U_dotbelow.glif
1484553442.0 glyphs/U_grave.glif
1484553442.0 glyphs/U_hookabove.glif
1484553442.0 glyphs/U_horn.glif
1484553442.0 glyphs/U_hornacute.glif
1484553442.0 glyphs/U_horndotbelow.glif
1484553442.0 glyphs/U_horngrave.glif
1484553442.0 glyphs/U_hornhookabove.glif
1484553442.0 glyphs/U_horntilde.glif
1484553442.0 glyphs/U_hungarumlaut.glif
1484553442.0 glyphs/U_invertedbreve.glif
1484553442.0 glyphs/U_macron.glif
1484553442.0 glyphs/U_ogonek.glif
1484553442.0 glyphs/U_ring.glif
1484553442.0 glyphs/U_tilde.glif
1484553442.0 glyphs/V_.glif
1484553442.0 glyphs/V_.sc.glif
1484553442.0 glyphs/W_.glif
1484553442.0 glyphs/W_.sc.glif
1484553442.0 glyphs/W_acute.glif
1484553442.0 glyphs/W_circumflex.glif
1484553442.0 glyphs/W_dieresis.glif
1484553442.0 glyphs/W_grave.glif
1484553442.0 glyphs/X_.glif
1484553442.0 glyphs/X_.sc.glif
1484553442.0 glyphs/Y_.glif
1484553442.0 glyphs/Y_.sc.glif
1484553442.0 glyphs/Y_acute.glif
1484553442.0 glyphs/Y_circumflex.glif
1484553442.0 glyphs/Y_dieresis.glif
1484553442.0 glyphs/Y_dotbelow.glif
1484553442.0 glyphs/Y_grave.glif
1484553442.0 glyphs/Y_hookabove.glif
1484553442.0 glyphs/Y_macron.glif
1484553442.0 glyphs/Y_tilde.glif
1484553442.0 glyphs/Z_.glif
1484553442.0 glyphs/Z_acute.glif
1484553442.0 glyphs/Z_caron.glif
1484553442.0 glyphs/Z_dotaccent.glif
1484553442.0 glyphs/_notdef.glif
1484553442.0 glyphs/a.glif
1484553442.0 glyphs/aacute.glif
1484553442.0 glyphs/abreve.glif
1484553442.0 glyphs/abreveacute.glif
1484553442.0 glyphs/abrevedotbelow.glif
1484553442.0 glyphs/abrevegrave.glif
1484553442.0 glyphs/abrevehookabove.glif
1484553442.0 glyphs/abrevetilde.glif
1484553442.0 glyphs/acircumflex.glif
1484553442.0 glyphs/acircumflexacute.glif
1484553442.0 glyphs/acircumflexdotbelow.glif
1484553442.0 glyphs/acircumflexgrave.glif
1484553442.0 glyphs/acircumflexhookabove.glif
1484553442.0 glyphs/acircumflextilde.glif
1484553442.0 glyphs/acute.glif
1484553442.0 glyphs/acutecomb.glif
1484553442.0 glyphs/adblgrave.glif
1484553442.0 glyphs/adieresis.glif
1484553442.0 glyphs/adotbelow.glif
1484553442.0 glyphs/ae.glif
1484553442.0 glyphs/aeacute.glif
1484553442.0 glyphs/agrave.glif
1484553442.0 glyphs/ahookabove.glif
1484553442.0 glyphs/ainvertedbreve.glif
1484553442.0 glyphs/amacron.glif
1484553442.0 glyphs/ampersand.glif
1484553442.0 glyphs/aogonek.glif
1484553442.0 glyphs/approxequal.glif
1484553442.0 glyphs/aring.glif
1484553442.0 glyphs/aringacute.glif
1484553442.0 glyphs/asciicircum.glif
1484553442.0 glyphs/asciitilde.glif
1484553442.0 glyphs/asterisk.glif
1484553442.0 glyphs/at.glif
1484553442.0 glyphs/atilde.glif
1484553442.0 glyphs/b.glif
1484553442.0 glyphs/backslash.glif
1484553442.0 glyphs/bar.glif
1484553442.0 glyphs/braceleft.glif
1484553442.0 glyphs/braceright.glif
1484553442.0 glyphs/bracketleft.glif
1484553442.0 glyphs/bracketright.glif
1484553442.0 glyphs/breve.glif
1484553442.0 glyphs/brevebelowcomb.glif
1484553442.0 glyphs/brevecomb.glif
1484553442.0 glyphs/breveinvertedcomb.glif
1484553442.0 glyphs/brokenbar.glif
1484553442.0 glyphs/bullet.glif
1484553442.0 glyphs/bulletoperator.glif
1484553442.0 glyphs/c.glif
1484553442.0 glyphs/cacute.glif
1484553442.0 glyphs/caron.glif
1484553442.0 glyphs/caroncomb.alt.glif
1484553442.0 glyphs/caroncomb.glif
1484553442.0 glyphs/ccaron.glif
1484553442.0 glyphs/ccedilla.glif
1484553442.0 glyphs/ccircumflex.glif
1484553442.0 glyphs/cdotaccent.glif
1484553442.0 glyphs/cedi.glif
1484553442.0 glyphs/cedilla.glif
1484553442.0 glyphs/cedillacomb.glif
1484553442.0 glyphs/cent.glif
1484553442.0 glyphs/circumflex.glif
1484553442.0 glyphs/circumflexcomb.glif
1484553442.0 glyphs/colon.glif
1484553442.0 glyphs/colonsign.glif
1484553442.0 glyphs/comma.glif
1484553442.0 glyphs/commaaccent.glif
1484553442.0 glyphs/commaturnedabovecomb.glif
1484553442.0 glyphs/copyright.glif
1484553442.0 glyphs/currency.glif
1484553442.0 glyphs/d.glif
1484553442.0 glyphs/dagger.glif
1484553442.0 glyphs/daggerdbl.glif
1484553442.0 glyphs/dblgravecomb.glif
1484553442.0 glyphs/dcaron.glif
1484553442.0 glyphs/dcroat.glif
1484553442.0 glyphs/ddotbelow.glif
1484553442.0 glyphs/degree.glif
1484553442.0 glyphs/dieresis.glif
1484553442.0 glyphs/dieresisbelowcomb.glif
1484553442.0 glyphs/dieresiscomb.glif
1484553442.0 glyphs/divide.glif
1484553442.0 glyphs/divisionslash.glif
1484553442.0 glyphs/dollar.glif
1484553442.0 glyphs/dong.glif
1484553442.0 glyphs/dotaccent.glif
1484553442.0 glyphs/dotaccentcomb.glif
1484553442.0 glyphs/dotbelowcomb.glif
1484553442.0 glyphs/dzcaron.glif
1484553442.0 glyphs/e.glif
1484553442.0 glyphs/eacute.glif
1484553442.0 glyphs/ebreve.glif
1484553442.0 glyphs/ecaron.glif
1484553442.0 glyphs/ecircumflex.glif
1484553442.0 glyphs/ecircumflexacute.glif
1484553442.0 glyphs/ecircumflexdotbelow.glif
1484553442.0 glyphs/ecircumflexgrave.glif
1484553442.0 glyphs/ecircumflexhookabove.glif
1484553442.0 glyphs/ecircumflextilde.glif
1484553442.0 glyphs/edblgrave.glif
1484553442.0 glyphs/edieresis.glif
1484553442.0 glyphs/edotaccent.glif
1484553442.0 glyphs/edotbelow.glif
1484553442.0 glyphs/egrave.glif
1484553442.0 glyphs/ehookabove.glif
1484553442.0 glyphs/eight.glif
1484553442.0 glyphs/eight.lf.glif
1484553442.0 glyphs/einvertedbreve.glif
1484553442.0 glyphs/ellipsis.glif
1484553442.0 glyphs/emacron.glif
1484553442.0 glyphs/emdash.glif
1484553442.0 glyphs/endash.glif
1484553442.0 glyphs/eng.glif
1484553442.0 glyphs/eogonek.glif
1484553442.0 glyphs/equal.glif
1484553442.0 glyphs/eth.glif
1484553442.0 glyphs/etilde.glif
1484553442.0 glyphs/euro.glif
1484553442.0 glyphs/exclam.glif
1484553442.0 glyphs/exclamdown.glif
1484553442.0 glyphs/f.glif
1484553442.0 glyphs/f_f.glif
1484553442.0 glyphs/f_f_i.glif
1484553442.0 glyphs/f_f_l.glif
1484553442.0 glyphs/fi.glif
1484553442.0 glyphs/firsttonechinese.glif
1484553442.0 glyphs/five.glif
1484553442.0 glyphs/five.lf.glif
1484553442.0 glyphs/fl.glif
1484553442.0 glyphs/florin.glif
1484553442.0 glyphs/four.glif
1484553442.0 glyphs/four.lf.glif
1484553442.0 glyphs/foursuperior.glif
1484553442.0 glyphs/fraction.glif
1484553442.0 glyphs/franc.glif
1484553442.0 glyphs/g.glif
1484553442.0 glyphs/gbreve.glif
1484553442.0 glyphs/gcaron.glif
1484553442.0 glyphs/gcircumflex.glif
1484553442.0 glyphs/gcommaaccent.glif
1484553442.0 glyphs/gdotaccent.glif
1484553442.0 glyphs/germandbls.glif
1484553442.0 glyphs/grave.glif
1484553442.0 glyphs/gravecomb.glif
1484553442.0 glyphs/greater.glif
1484553442.0 glyphs/greaterequal.glif
1484553442.0 glyphs/guarani.glif
1484553442.0 glyphs/guillemetleft.glif
1484553442.0 glyphs/guillemetright.glif
1484553442.0 glyphs/guilsinglleft.glif
1484553442.0 glyphs/guilsinglright.glif
1484553442.0 glyphs/h.glif
1484553442.0 glyphs/hbar.glif
1484553442.0 glyphs/hcircumflex.glif
1484553442.0 glyphs/hookabovecomb.glif
1484553442.0 glyphs/horncomb.glif
1484553442.0 glyphs/hungarumlaut.glif
1484553442.0 glyphs/hungarumlautcomb.glif
1484553442.0 glyphs/hyphen.glif
1484553442.0 glyphs/i.glif
1484553442.0 glyphs/iacute.glif
1484553442.0 glyphs/ibreve.glif
1484553442.0 glyphs/icircumflex.glif
1484553442.0 glyphs/idblgrave.glif
1484553442.0 glyphs/idieresis.glif
1484553442.0 glyphs/idotaccent.glif
1484553442.0 glyphs/idotbelow.glif
1484553442.0 glyphs/idotless.glif
1484553442.0 glyphs/igrave.glif
1484553442.0 glyphs/ihookabove.glif
1484553442.0 glyphs/iinvertedbreve.glif
1484553442.0 glyphs/imacron.glif
1484553442.0 glyphs/iogonek.glif
1484553442.0 glyphs/itilde.glif
1484553442.0 glyphs/j.glif
1484553442.0 glyphs/jcircumflex.glif
1484553442.0 glyphs/jdotless.glif
1484553442.0 glyphs/k.glif
1484553442.0 glyphs/kcommaaccent.glif
1484553442.0 glyphs/kgreenlandic.glif
1484553442.0 glyphs/kip.glif
1484553442.0 glyphs/l.glif
1484553442.0 glyphs/lacute.glif
1484553442.0 glyphs/lcaron.glif
1484553442.0 glyphs/lcommaaccent.glif
1484553442.0 glyphs/ldot.glif
1484553442.0 glyphs/ldotbelow.glif
1484553442.0 glyphs/less.glif
1484553442.0 glyphs/lessequal.glif
1484553442.0 glyphs/lira.glif
1484553442.0 glyphs/liraT_urkish.glif
1484553442.0 glyphs/lj.glif
1484553442.0 glyphs/logicalnot.glif
1484553442.0 glyphs/lslash.glif
1484553442.0 glyphs/m.glif
1484553442.0 glyphs/macron.glif
1484553442.0 glyphs/macronbelowcomb.glif
1484553442.0 glyphs/macroncomb.glif
1484553442.0 glyphs/manat.glif
1484553442.0 glyphs/mdotbelow.glif
1484553442.0 glyphs/micro.glif
1484553442.0 glyphs/minus.glif
1484553442.0 glyphs/multiply.glif
1484553442.0 glyphs/n.glif
1484553442.0 glyphs/nacute.glif
1484553442.0 glyphs/naira.glif
1484553442.0 glyphs/nbspace.glif
1484553442.0 glyphs/ncaron.glif
1484553442.0 glyphs/ncommaaccent.glif
1484553442.0 glyphs/ndotaccent.glif
1484553442.0 glyphs/ndotbelow.glif
1484553442.0 glyphs/nine.glif
1484553442.0 glyphs/nine.lf.glif
1484553442.0 glyphs/nj.glif
1484553442.0 glyphs/notequal.glif
1484553442.0 glyphs/ntilde.glif
1484553442.0 glyphs/numbersign.glif
1484553442.0 glyphs/numero.glif
1484553442.0 glyphs/o.glif
1484553442.0 glyphs/oacute.glif
1484553442.0 glyphs/obreve.glif
1484553442.0 glyphs/ocircumflex.glif
1484553442.0 glyphs/ocircumflexacute.glif
1484553442.0 glyphs/ocircumflexdotbelow.glif
1484553442.0 glyphs/ocircumflexgrave.glif
1484553442.0 glyphs/ocircumflexhookabove.glif
1484553442.0 glyphs/ocircumflextilde.glif
1484553442.0 glyphs/odblgrave.glif
1484553442.0 glyphs/odieresis.glif
1484553442.0 glyphs/odieresismacron.glif
1484553442.0 glyphs/odotaccentmacron.glif
1484553442.0 glyphs/odotbelow.glif
1484553442.0 glyphs/oe.glif
1484553442.0 glyphs/ogonek.glif
1484553442.0 glyphs/ogonekcomb.glif
1484553442.0 glyphs/ograve.glif
1484553442.0 glyphs/ohookabove.glif
1484553442.0 glyphs/ohorn.glif
1484553442.0 glyphs/ohornacute.glif
1484553442.0 glyphs/ohorndotbelow.glif
1484553442.0 glyphs/ohorngrave.glif
1484553442.0 glyphs/ohornhookabove.glif
1484553442.0 glyphs/ohorntilde.glif
1484553442.0 glyphs/ohungarumlaut.glif
1484553442.0 glyphs/oinvertedbreve.glif
1484553442.0 glyphs/omacron.glif
1484553442.0 glyphs/one.glif
1484553442.0 glyphs/one.lf.glif
1484553442.0 glyphs/onehalf.glif
1484553442.0 glyphs/onequarter.glif
1484553442.0 glyphs/onesuperior.glif
1484553442.0 glyphs/oogonek.glif
1484553442.0 glyphs/ordfeminine.glif
1484553442.0 glyphs/ordmasculine.glif
1484553442.0 glyphs/oslash.glif
1484553442.0 glyphs/oslashacute.glif
1484553442.0 glyphs/otilde.glif
1484553442.0 glyphs/otildemacron.glif
1484553442.0 glyphs/p.glif
1484553442.0 glyphs/paragraph.glif
1484553442.0 glyphs/parenleft.glif
1484553442.0 glyphs/parenright.glif
1484553442.0 glyphs/percent.glif
1484553442.0 glyphs/period.glif
1484553442.0 glyphs/periodcentered.glif
1484553442.0 glyphs/periodcentered.loclC_A_T_.glif
1484553442.0 glyphs/perthousand.glif
1484553442.0 glyphs/peseta.glif
1484553442.0 glyphs/peso.glif
1484553442.0 glyphs/plus.glif
1484553442.0 glyphs/plusminus.glif
1484553442.0 glyphs/q.glif
1484553442.0 glyphs/question.glif
1484553442.0 glyphs/questiondown.glif
1484553442.0 glyphs/quotedbl.glif
1484553442.0 glyphs/quotedblbase.glif
1484553442.0 glyphs/quotedblleft.glif
1484553442.0 glyphs/quotedblright.glif
1484553442.0 glyphs/quoteleft.glif
1484553442.0 glyphs/quoteright.glif
1484553442.0 glyphs/quotesinglbase.glif
1484553442.0 glyphs/quotesingle.glif
1484553442.0 glyphs/r.glif
1484553442.0 glyphs/racute.glif
1484553442.0 glyphs/rcaron.glif
1484553442.0 glyphs/rcommaaccent.glif
1484553442.0 glyphs/rdblgrave.glif
1484553442.0 glyphs/registered.glif
1484553442.0 glyphs/ring.glif
1484553442.0 glyphs/ringcomb.glif
1484553442.0 glyphs/rinvertedbreve.glif
1484553442.0 glyphs/ruble.glif
1484553442.0 glyphs/rupeeI_ndian.glif
1484553442.0 glyphs/s.glif
1484553442.0 glyphs/sacute.glif
1484553442.0 glyphs/scaron.glif
1484553442.0 glyphs/scedilla.glif
1484553442.0 glyphs/schwa.glif
1484553442.0 glyphs/scircumflex.glif
1484553442.0 glyphs/scommaaccent.glif
1484553442.0 glyphs/section.glif
1484553442.0 glyphs/semicolon.glif
1484553442.0 glyphs/seven.glif
1484553442.0 glyphs/seven.lf.glif
1484553442.0 glyphs/six.glif
1484553442.0 glyphs/six.lf.glif
1484553442.0 glyphs/slash.glif
1484553442.0 glyphs/softhyphen.glif
1484553442.0 glyphs/space.glif
1484553442.0 glyphs/sterling.glif
1484553442.0 glyphs/t.glif
1484553442.0 glyphs/tbar.glif
1484553442.0 glyphs/tcaron.glif
1484553442.0 glyphs/tcedilla.glif
1484553442.0 glyphs/tcommaaccent.glif
1484553442.0 glyphs/tdotbelow.glif
1484553442.0 glyphs/thorn.glif
1484553442.0 glyphs/three.glif
1484553442.0 glyphs/three.lf.glif
1484553442.0 glyphs/threequarters.glif
1484553442.0 glyphs/threesuperior.glif
1484553442.0 glyphs/tilde.glif
1484553442.0 glyphs/tildecomb.glif
1484553442.0 glyphs/trademark.glif
1484553442.0 glyphs/two.glif
1484553442.0 glyphs/two.lf.glif
1484553442.0 glyphs/twosuperior.glif
1484553442.0 glyphs/u.glif
1484553442.0 glyphs/uacute.glif
1484553442.0 glyphs/ubreve.glif
1484553442.0 glyphs/ucircumflex.glif
1484553442.0 glyphs/udblgrave.glif
1484553442.0 glyphs/udieresis.glif
1484553442.0 glyphs/udotbelow.glif
1484553442.0 glyphs/ugrave.glif
1484553442.0 glyphs/uhookabove.glif
1484553442.0 glyphs/uhorn.glif
1484553442.0 glyphs/uhornacute.glif
1484553442.0 glyphs/uhorndotbelow.glif
1484553442.0 glyphs/uhorngrave.glif
1484553442.0 glyphs/uhornhookabove.glif
1484553442.0 glyphs/uhorntilde.glif
1484553442.0 glyphs/uhungarumlaut.glif
1484553442.0 glyphs/uinvertedbreve.glif
1484553442.0 glyphs/umacron.glif
1484553442.0 glyphs/underscore.glif
1484553442.0 glyphs/uogonek.glif
1484553442.0 glyphs/uring.glif
1484553442.0 glyphs/utilde.glif
1484553442.0 glyphs/v.glif
1484553442.0 glyphs/w.glif
1484553442.0 glyphs/wacute.glif
1484553442.0 glyphs/wcircumflex.glif
1484553442.0 glyphs/wdieresis.glif
1484553442.0 glyphs/wgrave.glif
1484553442.0 glyphs/won.glif
1484553442.0 glyphs/x.glif
1484553442.0 glyphs/y.glif
1484553442.0 glyphs/yacute.glif
1484553442.0 glyphs/ycircumflex.glif
1484553442.0 glyphs/ydieresis.glif
1484553442.0 glyphs/ydotbelow.glif
1484553442.0 glyphs/yen.glif
1484553442.0 glyphs/ygrave.glif
1484553442.0 glyphs/yhookabove.glif
1484553442.0 glyphs/ymacron.glif
1484553442.0 glyphs/ytilde.glif
1484553442.0 glyphs/z.glif
1484553442.0 glyphs/zacute.glif
1484553442.0 glyphs/zcaron.glif
1484553442.0 glyphs/zdotaccent.glif
1484553442.0 glyphs/zero.glif
1484553442.0 glyphs/zero.lf.glif
1484553442.0 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Abreveacute</string>
			<string>Abrevedotbelow</string>
			<string>Abrevegrave</string>
			<string>Abrevehookabove</string>
			<string>Abrevetilde</string>
			<string>Acircumflex</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexdotbelow</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflexhookabove</string>
			<string>Acircumflextilde</string>
			<string>Adblgrave</string>
			<string>Adieresis</string>
			<string>Adotbelow</string>
			<string>Agrave</string>
			<string>Ahookabove</string>
			<string>Ainvertedbreve</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Aringacute</string>
			<string>Atilde</string>
			<string>AE</string>
			<string>AEacute</string>
			<string>B</string>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>D</string>
			<string>DZcaron</string>
			<string>Eth</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Ddotbelow</string>
			<string>Dzcaron</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexdotbelow</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflexhookabove</string>
			<string>Ecircumflextilde</string>
			<string>Edblgrave</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Edotbelow</string>
			<string>Egrave</string>
			<string>Ehookabove</string>
			<string>Einvertedbreve</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>Etilde</string>
			<string>F</string>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gcaron</string>
			<string>Gcircumflex</string>
			<string>Gcommaaccent</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>H</string>
			<string>Hbar</string>
			<string>Hcircumflex</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Ibreve</string>
			<string>Icircumflex</string>
			<string>Idblgrave</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Idotbelow</string>
			<string>Igrave</string>
			<string>Ihookabove</string>
			<string>Iinvertedbreve</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Itilde</string>
			<string>J</string>
			<string>Jcircumflex</string>
			<string>K</string>
			<string>Kcommaaccent</string>
			<string>Kcommaaccent</string>
			<string>L</string>
			<string>LJ</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Lcommaaccent</string>
			<string>Ldot</string>
			<string>Ldotbelow</string>
			<string>Lj</string>
			<string>Lslash</string>
			<string>M</string>
			<string>Mdotbelow</string>
			<string>N</string>
			<string>NJ</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommaaccent</string>
			<string>Ncommaaccent</string>
			<string>Ndotaccent</string>
			<string>Ndotbelow</string>
			<string>Eng</string>
			<string>Nj</string>
			<string>Ntilde</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Obreve</string>
			<string>Ocircumflex</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexdotbelow</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflexhookabove</string>
			<string>Ocircumflextilde</string>
			<string>Odblgrave</string>
			<string>Odieresis</string>
			<string>Odieresismacron</string>
			<string>Odotaccentmacron</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Ohookabove</string>
			<string>Ohorn</string>
			<string>Ohornacute</string>
			<string>Ohorndotbelow</string>
			<string>Ohorngrave</string>
			<string>Ohornhookabove</string>
			<string>Ohorntilde</string>
			<string>Ohungarumlaut</string>
			<string>Oinvertedbreve</string>
			<string>Omacron</string>
			<string>Oogonek</string>
			<string>Oslash</string>
			<string>Oslashacute</string>
			<string>Otilde</string>
			<string>Otildemacron</string>
			<string>OE</string>
			<string>P</string>
			<string>Thorn</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>Rcommaaccent</string>
			<string>Rdblgrave</string>
			<string>Rinvertedbreve</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scedilla</string>
			<string>Scircumflex</string>
			<string>Scommaaccent</string>
			<string>Scommaaccent</string>
			<string>Germandbls</string>
			<string>Schwa</string>
			<string>T</string>
			<string>Tbar</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
			<string>Tcommaaccent</string>
			<string>Tcommaaccent</string>
			<string>Tdotbelow</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucircumflex</string>
			<string>Udblgrave</string>
			<string>Udieresis</string>
			<string>Udotbelow</string>
			<string>Ugrave</string>
			<string>Uhookabove</string>
			<string>Uhorn</string>
			<string>Uhornacute</string>
			<string>Uhorndotbelow</string>
			<string>Uhorngrave</string>
			<string>Uhornhookabove</string>
			<string>Uhorntilde</string>
			<string>Uhungarumlaut</string>
			<string>Uinvertedbreve</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
			<string>Utilde</string>
			<string>V</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ydotbelow</string>
			<string>Ygrave</string>
			<string>Yhookabove</string>
			<string>Ymacron</string>
			<string>Ytilde</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>abreveacute</string>
			<string>abrevedotbelow</string>
			<string>abrevegrave</string>
			<string>abrevehookabove</string>
			<string>abrevetilde</string>
			<string>acircumflex</string>
			<string>acircumflexacute</string>
			<string>acircumflexdotbelow</string>
			<string>acircumflexgrave</string>
			<string>acircumflexhookabove</string>
			<string>acircumflextilde</string>
			<string>adblgrave</string>
			<string>adieresis</string>
			<string>adotbelow</string>
			<string>agrave</string>
			<string>ahookabove</string>
			<string>ainvertedbreve</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>aringacute</string>
			<string>atilde</string>
			<string>ae</string>
			<string>aeacute</string>
			<string>b</string>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
			<string>d</string>
			<string>eth</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>ddotbelow</string>
			<string>dzcaron</string>
			<string>e</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexdotbelow</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflexhookabove</string>
			<string>ecircumflextilde</string>
			<string>edblgrave</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>edotbelow</string>
			<string>egrave</string>
			<string>ehookabove</string>
			<string>einvertedbreve</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>etilde</string>
			<string>schwa</string>
			<string>f</string>
			<string>g</string>
			<string>gbreve</string>
			<string>gcaron</string>
			<string>gcircumflex</string>
			<string>gcommaaccent</string>
			<string>gdotaccent</string>
			<string>h</string>
			<string>hbar</string>
			<string>hcircumflex</string>
			<string>i</string>
			<string>idotless</string>
			<string>iacute</string>
			<string>ibreve</string>
			<string>icircumflex</string>
			<string>idblgrave</string>
			<string>idieresis</string>
			<string>idotaccent</string>
			<string>idotbelow</string>
			<string>igrave</string>
			<string>ihookabove</string>
			<string>iinvertedbreve</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>itilde</string>
			<string>j</string>
			<string>jdotless</string>
			<string>jcircumflex</string>
			<string>k</string>
			<string>kcommaaccent</string>
			<string>kcommaaccent</string>
			<string>kgreenlandic</string>
			<string>l</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>lcommaaccent</string>
			<string>ldot</string>
			<string>ldotbelow</string>
			<string>lj</string>
			<string>lslash</string>
			<string>m</string>
			<string>mdotbelow</string>
			<string>n</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ncommaaccent</string>
			<string>ncommaaccent</string>
			<string>ndotaccent</string>
			<string>ndotbelow</string>
			<string>eng</string>
			<string>nj</string>
			<string>ntilde</string>
			<string>o</string>
			<string>oacute</string>
			<string>obreve</string>
			<string>ocircumflex</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexdotbelow</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflexhookabove</string>
			<string>ocircumflextilde</string>
			<string>odblgrave</string>
			<string>odieresis</string>
			<string>odieresismacron</string>
			<string>odotaccentmacron</string>
			<string>odotbelow</string>
			<string>ograve</string>
			<string>ohookabove</string>
			<string>ohorn</string>
			<string>ohornacute</string>
			<string>ohorndotbelow</string>
			<string>ohorngrave</string>
			<string>ohornhookabove</string>
			<string>ohorntilde</string>
			<string>ohungarumlaut</string>
			<string>oinvertedbreve</string>
			<string>omacron</string>
			<string>oogonek</string>
			<string>oslash</string>
			<string>oslashacute</string>
			<string>otilde</string>
			<string>otildemacron</string>
			<string>oe</string>
			<string>p</string>
			<string>thorn</string>
			<string>q</string>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
			<string>rcommaaccent</string>
			<string>rdblgrave</string>
			<string>rinvertedbreve</string>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scedilla</string>
			<string>scircumflex</string>
			<string>scommaaccent</string>
			<string>scommaaccent</string>
			<string>germandbls</string>
			<string>t</string>
			<string>tbar</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
			<string>tdotbelow</string>
			<string>u</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucircumflex</string>
			<string>udblgrave</string>
			<string>udieresis</string>
			<string>udotbelow</string>
			<string>ugrave</string>
			<string>uhookabove</string>
			<string>uhorn</string>
			<string>uhornacute</string>
			<string>uhorndotbelow</string>
			<string>uhorngrave</string>
			<string>uhornhookabove</string>
			<string>uhorntilde</string>
			<string>uhungarumlaut</string>
			<string>uinvertedbreve</string>
			<string>umacron</string>
			<string>uogonek</string>
			<string>uring</string>
			<string>utilde</string>
			<string>v</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ydotbelow</string>
			<string>ygrave</string>
			<string>yhookabove</string>
			<string>ymacron</string>
			<string>ytilde</string>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>f_f</string>
			<string>f_f_i</string>
			<string>f_f_l</string>
			<string>fi</string>
			<string>fl</string>
			<string>A.sc</string>
			<string>B.sc</string>
			<string>C.sc</string>
			<string>D.sc</string>
			<string>E.sc</string>
			<string>F.sc</string>
			<string>G.sc</string>
			<string>H.sc</string>
			<string>I.sc</string>
			<string>J.sc</string>
			<string>K.sc</string>
			<string>L.sc</string>
			<string>M.sc</string>
			<string>N.sc</string>
			<string>O.sc</string>
			<string>P.sc</string>
			<string>Q.sc</string>
			<string>R.sc</string>
			<string>S.sc</string>
			<string>T.sc</string>
			<string>U.sc</string>
			<string>V.sc</string>
			<string>W.sc</string>
			<string>X.sc</string>
			<string>Y.sc</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>zero.lf</string>
			<string>one.lf</string>
			<string>two.lf</string>
			<string>three.lf</string>
			<string>four.lf</string>
			<string>five.lf</string>
			<string>six.lf</string>
			<string>seven.lf</string>
			<string>eight.lf</string>
			<string>nine.lf</string>
			<string>onesuperior</string>
			<string>twosuperior</string>
			<string>threesuperior</string>
			<string>foursuperior</string>
			<string>fraction</string>
			<string>onehalf</string>
			<string>onequarter</string>
			<string>threequarters</string>
			<string>asterisk</string>
			<string>backslash</string>
			<string>periodcentered</string>
			<string>bullet</string>
			<string>colon</string>
			<string>comma</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>exclamdown</string>
			<string>numbersign</string>
			<string>period</string>
			<string>question</string>
			<string>questiondown</string>
			<string>quotedbl</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>semicolon</string>
			<string>slash</string>
			<string>underscore</string>
			<string>periodcentered.loclCAT</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>emdash</string>
			<string>endash</string>
			<string>hyphen</string>
			<string>softhyphen</string>
			<string>softhyphen</string>
			<string>guillemetleft</string>
			<string>guillemetright</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>quotedblbase</string>
			<string>quotedblleft</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quoteright</string>
			<string>quotesinglbase</string>
			<string>space</string>
			<string>nbspace</string>
			<string>.notdef</string>
			<string>cedi</string>
			<string>cent</string>
			<string>colonsign</string>
			<string>currency</string>
			<string>dollar</string>
			<string>dong</string>
			<string>euro</string>
			<string>florin</string>
			<string>franc</string>
			<string>guarani</string>
			<string>kip</string>
			<string>lira</string>
			<string>liraTurkish</string>
			<string>manat</string>
			<string>naira</string>
			<string>peseta</string>
			<string>peso</string>
			<string>ruble</string>
			<string>rupeeIndian</string>
			<string>sterling</string>
			<string>won</string>
			<string>yen</string>
			<string>bulletoperator</string>
			<string>divisionslash</string>
			<string>plus</string>
			<string>minus</string>
			<string>multiply</string>
			<string>divide</string>
			<string>equal</string>
			<string>notequal</string>
			<string>greater</string>
			<string>less</string>
			<string>greaterequal</string>
			<string>lessequal</string>
			<string>plusminus</string>
			<string>approxequal</string>
			<string>asciitilde</string>
			<string>logicalnot</string>
			<string>micro</string>
			<string>percent</string>
			<string>perthousand</string>
			<string>at</string>
			<string>ampersand</string>
			<string>paragraph</string>
			<string>section</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>degree</string>
			<string>bar</string>
			<string>brokenbar</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>numero</string>
			<string>asciicircum</string>
			<string>dieresiscomb</string>
			<string>dotaccentcomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>hungarumlautcomb</string>
			<string>caroncomb.alt</string>
			<string>circumflexcomb</string>
			<string>caroncomb</string>
			<string>brevecomb</string>
			<string>ringcomb</string>
			<string>tildecomb</string>
			<string>macroncomb</string>
			<string>hookabovecomb</string>
			<string>dblgravecomb</string>
			<string>breveinvertedcomb</string>
			<string>commaturnedabovecomb</string>
			<string>horncomb</string>
			<string>dotbelowcomb</string>
			<string>dieresisbelowcomb</string>
			<string>commaaccent</string>
			<string>cedillacomb</string>
			<string>ogonekcomb</string>
			<string>brevebelowcomb</string>
			<string>macronbelowcomb</string>
			<string>firsttonechinese</string>
			<string>acute</string>
			<string>breve</string>
			<string>caron</string>
			<string>cedilla</string>
			<string>circumflex</string>
			<string>dieresis</string>
			<string>dotaccent</string>
			<string>grave</string>
			<string>hungarumlaut</string>
			<string>macron</string>
			<string>ogonek</string>
			<string>ring</string>
			<string>tilde</string>
		</array>
	</dict>
</plist>